<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- 挂载点:vue的入口，指定id
        模板：html标签（template视图）
        实例：new Vue（一般一个框架下只需要1个vue实例） -->
    <!-- ctrl+/注释 -->

    <div id="root">{{msg}}
        <!-- <h1>hihi{{num}}</h1> //{{}}插值表达式 -->
        <h1 v-text="num"></h1>
        <h1 v-html="num"></h1>
        <!-- 指令表达：v-html不会转译，v-text转译 -->

        <div v-on:click="handleClick">{{content}}</div>
        <!-- 事件绑定与方法定义 -->
        <!-- v-on 绑定事件，简写为@ -->
        <div :title="'title '+title">{{content}}</div>
        <input v-model="content1" />
        <div>{{content1}}</div>
        姓：
        <input v-model="firstName" /> 名：
        <input v-model="lastName" />
        <div>{{fullName}}</div>
        <div>{{count1}}</div>
        <div v-if="show">show test</div>
        <!-- v-show 与 v-if : 
            v-show:当元素不显示时，dom不会被清除，style为none，适合频繁显示与隐藏时使用
            v-if： 当显示元素值为false时，会将元素dom清除
         -->
        <button @click="handleClickShow">button</button>
        <ul>
            <li v-for="item of list" :key="item">{{item}}</li> 
            <!-- //key值不能重复 -->
            <!-- 重复时加入index？ -->
            <li v-for="(item,index) of list" :key="item">{{item}}</li> 
        </ul>


    </div>
    <script>
        new Vue({
            el: "#root",
            // template: '<h1>hihi</h1>',
            data() {
                return {
                    msg: "hello world",
                    num: "123123",
                    content: "hello",
                    content1: "hello hello",
                    count: 0,
                    title: "this hello world",
                    firstName: '',
                    lastName: '',
                    count1: 0,
                    show: true,
                    list: [11, 22, 33]

                };
            },//data必须为函数
            computed: {     //计算属性，依赖数据未改变时，会使用上一次的缓存值
                fullName: function () {
                    return this.firstName + ' ' + this.lastName
                }
            },
            watch: {//侦听事件
                // firstName: function(){
                //     this.count1 ++
                // },
                // lastName: function(){
                //     this.count1 ++
                // }
                fullName: function () {
                    this.count1++
                }
            },
            methods: {
                handleClick: function () {
                    // this.content = "world"
                    // if (this.content ==="hello"){
                    //     this.content ="world"
                    // }else if(this.content ==="world"){
                    //     this.content = "hello"
                    // }
                    this.count++
                    if (this.count % 2 === 0) {
                        this.content = "hello"
                    }
                    else { this.content = "world" }
                },
                handleClickShow: function () {
                    this.show = !this.show
                }
            }

        })
    </script>


</body>

</html>